* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #201f24;
}

header {
  background-color: #201f24;
  color: #fff;
  padding: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
}

nav ul li a:hover {
  color: #f2f2f2;
}

main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-weight: normal;
}

.portfolio{
  margin: auto;
  max-width: 500px;
  padding: 20px;
  background-color: #6d27ab;
  color:#fff;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 10px #ddd;
}
.link {
  color: #e3cef5;
}
